/*Media Queries*/
@media screen and (max-width: 799px){
    #filter-text{
        display: none;
    }
}
@media screen and (max-width: 449px){
    .filter-options h2{
        display: none;
    }
}
@media screen and (max-width: 370px){
    .filter-options {
        height: 120px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .filter-options select{
        width: 100%;
    }
}
/*CSS for general content*/
#main_heading{
    padding-top: 25px;
}
#main_heading a:hover{
    color: orange;
}
.filter-options{
    display: flex;
}
#filter-icon{
    margin-right: 5px;
}
#restaurants-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#restaurants-list li{
    padding: 0 0 15px;
    box-shadow: 0px 3px 15px #666666;
    border-radius: 5px;
}
#restaurants-list li a{
    max-width: 200px;
    min-width: 200px;
    border-radius: 2em;
    margin-left: 20px;
}
#restaurants-list li h1,#restaurants-list li p{
    padding-left: 15px;
    padding-right: 15px;
}
#restaurants-list li a:hover{
  background-color: darkorange;
}